# Create a copy of this file and rename it to .env
# Fill in the values for the environment variables in your .env file, not this file!

# https://www.emailjs.com
VITE_EMAILJS_SERVICE_ID =
VITE_EMAILJS_TEMPLATE_ID =
VITE_EMAILJS_PUBLIC_KEY =

# https://www.google.com/recaptcha/admin/
VITE_RECAPTCHA_SITE_KEY =

# Google analytics
VITE_ANALYTICS_ID =
