// Theme 1
$fontFamily: poppins, helvetica, sans-serif;
$bodyBackgroundColor: #292B3F;
$textColor: #d5d5d5;
$primaryColor: #13A0A1;
$contrastColor: #C86A6E;
$headerTextColor: #f5f5f5;
$headerBackgroundColor: #292B3F;
$headerIconColor: #fff;
$menuIconColor: #b5b6b7;
$linksColor: #4D9A4A;
$titlesColor: #eee;
$sectionBackgroundColor: #1A1F2B;
$alertModalTextColor: #545454;
$alertModalBackgroundColor: #fff;

/*
// Theme 2
$fontFamily: poppins, helvetica, sans-serif;
$bodyBackgroundColor: #04b4e0;
$textColor: #d5d5d5;
$primaryColor: #04b4e0;
$contrastColor: #ee4e34;
$headerTextColor: #f5f5f5;
$headerBackgroundColor: #444;
$headerIconColor: #fff;
$menuIconColor: #b5b6b7;
$linksColor: #09c;
$titlesColor: #eee;
$sectionBackgroundColor: #222;
$alertModalTextColor: #545454;
$alertModalBackgroundColor: #fff;
*/
